.navbar {
  background-color: darkcyan;
}

#highlights {
  background-image: url("./images/cover1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
h3 {
  text-align: center;
}

#text {
  text-align: center;
}

#header {
  font-weight: bold;
}

#tours {
  background-color: darkcyan;
}
