.navbar {
  background-color: darkcyan;
}

h3 {
  text-align: center;
}

#text {
  text-align: center;
}

#header {
  font-weight: bold;
}

#tours {
  background-color: darkcyan;
}

body {
  background-color: darkcyan;
}

.buscalan{
  color: white;
}
/* #highlights {
  background-image: url("images/travel.png");
} */

/*.footer{
  background-color: deepskyblue;
}
*/