.navbar {
  background-color: darkcyan;
}

h3 {
  text-align: center;
}

#text {
  text-align: center;
}

#header {
  font-weight: bold;
}

#body2{
  background-color: darkcyan !important;
}

/* 
#tours {
  background-color: darkcyan;
} */

#textTop{
  color:black !important;
  text-align: center;
}

.buscalan{
  color: white;
}
/* #highlights {
  background-image: url("images/travel.png");
} */

/*.footer{
  background-color: deepskyblue;
}
*/