.navbar {
  background-color: black;
}

h3 {
  text-align: center;
}

#text {
  text-align: center;
}

#header {
  font-weight: bold;
}

#tours {
  background-color: darkcyan;
}

body {
  background-color: darkcyan;
}
